# Applied Data Science Capstone Week 3
## Segmenting and Clustering Neighborhoods in Toronto

### Getting the DATAFRAME.

In [134]:
import pandas as pd
# I chose the wikipedia api, instead of BeautifulSoup4, to make my job easier.
import wikipedia as wp
#Get the html source
html = wp.page("List of postal codes of Canada: M").html().encode("UTF-8")
df = pd.read_html(html)[0]
df.to_csv('PC_list.csv',header=1,index=False)
df.head()

  Postal code           Borough                Neighborhood
0  M1A         Not assigned      NaN
1  M2A         Not assigned      NaN
2  M3A         North York        Parkwoods
3  M4A         North York        Victoria Village
4  M5A         Downtown Toronto  Regent Park / Harbourfront

### Dropping all the "Not assigned" Borough.

In [130]:
df = df[df.Borough != "Not assigned"]
df = df.reset_index(drop=True)
df['Neighborhood'] = df['Neighborhood'].str.replace('/',',')
df.head(11)

   Postal code           Borough                                  Neighborhood
0   M3A         North York        Parkwoods
1   M4A         North York        Victoria Village
2   M5A         Downtown Toronto  Regent Park , Harbourfront
3   M6A         North York        Lawrence Manor , Lawrence Heights
4   M7A         Downtown Toronto  Queen's Park , Ontario Provincial Government
5   M9A         Etobicoke         Islington Avenue
6   M1B         Scarborough       Malvern , Rouge
7   M3B         North York        Don Mills
8   M4B         East York         Parkview Hill , Woodbine Gardens
9   M5B         Downtown Toronto  Garden District, Ryerson
10  M6B         North York        Glencairn

### Checking if there is the same postal code on different rows.

In [127]:
df["Postal code"].value_counts(ascending=True).head()

M5H    1
M8Z    1
M1G    1
M1T    1
M4T    1
Name: Postal code, dtype: int64

There is not the same postal code on different lines.

### Checking for "NaN" values ​​in the neighborhood column.

In [135]:
df.loc[df['Neighborhood'] == ""]

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

There is no "NaN" at neighborhood.

### Checking the dimensions of the DataFrame.

In [133]:
df.shape

(103, 3)

End of part 1.